baseURL = "https://baozongwi.xyz/"
languageCode = "zh-cn"
title = "baozongwi's blog"
theme = "flavor"
copyright = "baozongwi"

[params]
  description = "Currently exploring Java security and internal network penetration, with CTFs as a hobby."
  avatar = "img/avatar.jpg"
  favicon = "/favicon.ico"
  mainSections = ["post"]
  license = "Licensed under CC BY-NC-SA 4.0"

  [params.welcome]
    enabled = true

  [params.footer]
    since = 2024

  # Typewriter slogans on homepage
  [params.typewriter]
    slogans = [
      "H@cking Th3 Fu1ure",
      "Java Security & CTF Player",
      "Stay hungry, stay foolish."
    ]

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2
  [[menu.main]]
    name = "Archives"
    url = "/archives/"
    weight = 3
  [[menu.main]]
    name = "Links"
    url = "/links/"
    weight = 4
  [[menu.main]]
    name = "Travel"
    url = "/travel/"
    weight = 5

  [[menu.social]]
    name = "GitHub"
    url = "https://github.com/baozongwi"
    [menu.social.params]
      icon = "github"
  [[menu.social]]
    name = "Email"
    url = "mailto:baozongwi@qq.com"
    [menu.social.params]
      icon = "mail"
  [[menu.social]]
    name = "Discord"
    url = "https://discord.com/users/1276595362970337414"
    [menu.social.params]
      icon = "discord"
  [[menu.social]]
    name = "RSS"
    url = "/index.xml"
    [menu.social.params]
      icon = "rss"

[outputs]
  home = ["HTML", "RSS", "JSON"]

[pagination]
  pagerSize = 10

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    endLevel = 4
    ordered = true
    startLevel = 2
  [markup.highlight]
    noClasses = false
    codeFences = true
    guessSyntax = true
    lineNos = false
    tabWidth = 4

[permalinks]
  post = "/p/:slug/"
  page = "/:slug/"
