{{ define "main" }}
<div class="container archives-page">
  <h1 class="archives-page__title">Archives</h1>
  {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
  <p class="archives-page__total">共 {{ len $pages }} 篇文章</p>
  {{- $byYear := $pages.GroupByDate "2006" -}}
  {{ range $byYear }}
  <section class="archives-year">
    <div class="archives-year__header">
      <h2 class="archives-year__title">{{ .Key }}</h2>
      <span class="archives-year__count">{{ len .Pages }} 篇</span>
    </div>
    <ul class="archives-list">
      {{ range .Pages }}
      <li>
        <time class="archives-list__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02" }}</time>
        <a class="archives-list__title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</div>
{{ end }}
