# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

public
private
themes/*
!themes/baozongwi-signal/
!themes/baozongwi-signal/**
!themes/flavor/
!themes/flavor/**
resources
test-results
.hugo_build.lock

assets/jsconfig.json
.DS_Store
content/.obsidian/
