{{- $url := urls.Parse .Destination -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $ImageClass := "article-content-image article-content-image--unknown" -}}
{{- $src := .Destination | relURL | safeURL -}}
{{- $srcset := "" -}}
{{- $full := "" -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $eager := eq .Ordinal 0 -}}

{{- $isRemote := or (eq $url.Scheme "http") (eq $url.Scheme "https") (eq $url.Scheme "data") -}}
{{- if or $isRemote (and $url.Scheme (ne $url.Scheme "")) -}}
  {{- $src = .Destination | safeURL -}}
{{- else -}}
  {{- $dest := strings.TrimPrefix "./" $url.Path -}}
  {{- $dest = path.Clean $dest -}}
  {{- $image := false -}}
  {{- with .Page.Resources.GetMatch $dest -}}
    {{- $image = . -}}
  {{- else -}}
    {{- with .Page.Resources.GetMatch (path.Base $dest) -}}
      {{- $image = . -}}
    {{- end -}}
  {{- end -}}
  {{- if and (not $image) .Page.File -}}
    {{- $rel := $dest -}}
    {{- if hasPrefix $rel "/" -}}
      {{- $rel = strings.TrimPrefix $rel "/" -}}
    {{- else -}}
      {{- $rel = path.Clean (path.Join .Page.File.Dir $dest) -}}
    {{- end -}}
    {{- if not (hasPrefix $rel "../") -}}
      {{- with resources.Get (printf "c/%s" $rel) -}}
        {{- if eq .MediaType.MainType "image" -}}
          {{- $image = . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if $image -}}
    {{- $sub := $image.MediaType.SubType -}}
    {{- if or (eq $sub "gif") (eq $sub "svg+xml") -}}
      {{- $src = $image.RelPermalink -}}
      {{- $full = $image.RelPermalink -}}
      {{- $Width = $image.Width -}}
      {{- $Height = $image.Height -}}
    {{- else -}}
      {{- $q := 92 -}}
      {{- $big := $image -}}
      {{- $ok := true -}}
      {{- if or (gt $image.Width 1920) (gt $image.Height 1920) -}}
        {{- $tr := try ($image.Fit (printf "1920x1920 webp q%d" $q)) -}}
        {{- if $tr.Err }}{{ $ok = false }}{{ else }}{{ $big = $tr.Value }}{{ end -}}
      {{- else if ne $sub "webp" -}}
        {{- $tr := try ($image.Process (printf "webp q%d" $q)) -}}
        {{- if $tr.Err }}{{ $ok = false }}{{ else }}{{ $big = $tr.Value }}{{ end -}}
      {{- end -}}
      {{- if $ok -}}
        {{- $fullRes := $big -}}
        {{- if or (gt $image.Width 1920) (gt $image.Height 1920) -}}
          {{- $tr2 := try ($image.Fit (printf "2560x2560 webp q%d" $q)) -}}
          {{- if not $tr2.Err }}{{ $fullRes = $tr2.Value }}{{ end -}}
        {{- end -}}
        {{- $src = $big.RelPermalink -}}
        {{- $full = $fullRes.RelPermalink -}}
        {{- $Width = $big.Width -}}
        {{- $Height = $big.Height -}}
        {{- if gt $big.Width 960 -}}
          {{- $tr3 := try ($image.Fit (printf "960x960 webp q%d" $q)) -}}
          {{- if not $tr3.Err -}}
            {{- $small := $tr3.Value -}}
            {{- $srcset = printf "%s %dw, %s %dw" $small.RelPermalink $small.Width $big.RelPermalink $big.Width -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- $src = $image.RelPermalink -}}
        {{- $full = $image.RelPermalink -}}
        {{- $Width = $image.Width -}}
        {{- $Height = $image.Height -}}
      {{- end -}}
    {{- end -}}
    {{- if gt $Height $Width -}}
      {{- $ImageClass = "article-content-image article-content-image--portrait" -}}
    {{- else if gt $Width $Height -}}
      {{- $ImageClass = "article-content-image article-content-image--landscape" -}}
    {{- else if and $Width $Height -}}
      {{- $ImageClass = "article-content-image article-content-image--square" -}}
    {{- end -}}
  {{- else if and (eq $url.Scheme "") (not (hasPrefix $url.Path "/")) .Page.File -}}
    {{- $contentPath := path.Clean (path.Join .Page.File.Dir $dest) -}}
    {{- if not (hasPrefix $contentPath "../") -}}
      {{- $src = urls.JoinPath "/" $contentPath -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<img class="{{ $ImageClass }}" src="{{ $src | safeURL }}"
	{{ with $Width }}width="{{ . }}"{{ end }}
	{{ with $Height }}height="{{ . }}"{{ end }}
	{{ with $srcset }}srcset="{{ . }}" sizes="(min-width: 850px) 850px, calc(100vw - 32px)"{{ end }}
	{{ with $full }}data-full="{{ . }}"{{ end }}
	{{ if $eager }}fetchpriority="high" decoding="async"{{ else }}loading="lazy" decoding="async"{{ end }}
	{{ with $alt }}alt="{{ . }}"{{ end }}
>
