<article class="article-list-card">
    <a class="article-card-link" href="{{ .RelPermalink }}" aria-label="{{ printf "Read %s" .Title }}">
        <div class="article-details">
            {{ if .Params.categories }}
            <header class="article-category article-list-card__category">
                {{ range (.GetTerms "categories") }}
                    <span {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                        {{ .LinkTitle }}
                    </span>
                {{ end }}
            </header>
            {{ end }}

            <div class="article-title-wrapper">
                <h2 class="article-title">{{ .Title }}</h2>

                {{ with .Params.description }}
                <h3 class="article-subtitle">
                    {{ . }}
                </h3>
                {{ end }}
            </div>

            <footer class="article-list-card__footer" aria-hidden="true">
                <span class="article-list-card__read">Read</span>
            </footer>
        </div>
    </a>
</article>
