{{- $description := partial "helper/description.html" . -}}
{{- $siteLanguage := .Site.Language.Locale | default .Site.Language.Lang | default "zh-cn" -}}
{{- $authorName := .Site.Params.author.name | default .Site.Title -}}
{{- $authorURL := (.Site.Params.author.url | default "/about/") | absURL -}}
{{- $authorID := printf "%s#author" $authorURL -}}
{{- $websiteID := printf "%s#website" .Site.Home.Permalink -}}
{{- $sameAs := slice -}}
{{- range .Site.Menus.social -}}
  {{- if hasPrefix .URL "http" -}}
    {{- $sameAs = $sameAs | append .URL -}}
  {{- end -}}
{{- end -}}
{{- $author := dict
  "@type" "Person"
  "@id" $authorID
  "name" $authorName
  "url" $authorURL
-}}
{{- with .Site.Params.author.email -}}
  {{- $author = merge $author (dict "email" .) -}}
{{- end -}}
{{- if gt (len $sameAs) 0 -}}
  {{- $author = merge $author (dict "sameAs" $sameAs) -}}
{{- end -}}
{{- $website := dict
  "@type" "WebSite"
  "@id" $websiteID
  "url" .Site.Home.Permalink
  "name" .Site.Title
  "description" (.Site.Params.description | default .Site.Title)
  "inLanguage" $siteLanguage
-}}
{{- $graph := slice $website $author -}}
{{- $isArticle := and .IsPage (in (.Site.Params.mainSections | default (slice "post")) .Type) -}}
{{- if $isArticle -}}
  {{- $image := "" -}}
  {{- $pageImage := partial "helper/image.html" (dict "Context" .) -}}
  {{- if and $pageImage.exists $pageImage.permalink -}}
    {{- $image = $pageImage.permalink | absURL -}}
  {{- else if .Site.Params.defaultSocialImage -}}
    {{- $image = .Site.Params.defaultSocialImage | absURL -}}
  {{- else if .Site.Params.avatar -}}
    {{- $image = .Site.Params.avatar | absURL -}}
  {{- end -}}
  {{- $keywords := slice -}}
  {{- with .GetTerms "categories" -}}
    {{- range . -}}
      {{- $keywords = $keywords | append .LinkTitle -}}
    {{- end -}}
  {{- end -}}
  {{- with .GetTerms "tags" -}}
    {{- range . -}}
      {{- $keywords = $keywords | append .LinkTitle -}}
    {{- end -}}
  {{- end -}}
  {{- $article := dict
    "@type" "BlogPosting"
    "@id" (printf "%s#article" .Permalink)
    "headline" .Title
    "description" $description
    "url" .Permalink
    "mainEntityOfPage" .Permalink
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" (dict "@id" $authorID)
    "isPartOf" (dict "@id" $websiteID)
    "inLanguage" $siteLanguage
  -}}
  {{- if gt (len $keywords) 0 -}}
    {{- $article = merge $article (dict "keywords" $keywords) -}}
  {{- end -}}
  {{- with $image -}}
    {{- $article = merge $article (dict "image" (slice .)) -}}
  {{- end -}}
  {{- if .Params.encrypted -}}
    {{- $article = merge $article (dict "isAccessibleForFree" false) -}}
  {{- end -}}
  {{- $breadcrumb := dict
    "@type" "BreadcrumbList"
    "@id" (printf "%s#breadcrumb" .Permalink)
    "itemListElement" (slice
      (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.Home.Permalink)
      (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink)
    )
  -}}
  {{- $graph = $graph | append $article | append $breadcrumb -}}
{{- end -}}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}</script>
