{{ define "main" }}
<div class="container">
  <ul class="post-list">
    {{ $paginator := .Paginate .Pages }}
    {{ range $paginator.Pages }}
    <li class="post-list__item">
      <a href="{{ .RelPermalink }}">
        <div class="post-list__meta">
          <time class="post-list__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
          {{ with .GetTerms "categories" }}
          <div class="post-list__tags">
            {{ range . }}<span class="post-list__tag">{{ .LinkTitle }}</span>{{ end }}
          </div>
          {{ end }}
        </div>
        <h2 class="post-list__title">{{ .Title }}</h2>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</div>
{{ end }}
