{{- $password := .Get "password" -}}
{{- if not $password -}}
    {{- errorf "encrypt shortcode requires a password: %s" .Position -}}
{{- end -}}

{{- $hint := .Get "hint" | default "This content is encrypted. Enter password to view." -}}
{{- $content := .Inner | markdownify -}}

<div
    class="encrypt-container"
    data-encrypt-password-b64="{{ printf "%v" $password | base64Encode }}"
    data-encrypt-hint-b64="{{ printf "%v" $hint | base64Encode }}"
>
    <template class="encrypt-content-b64">{{ printf "%s" $content | base64Encode }}</template>
</div>
