{{- $stats := newScratch -}}
{{- $stats.Set "wc" 0 -}}
{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
{{- range $pages -}}
    {{- $stats.Add "wc" .WordCount -}}
{{- end -}}
{{- $wc := $stats.Get "wc" -}}
<footer class="site-footer">
  <div class="container">
    <div class="site-footer__social">
      {{ range .Site.Menus.social }}
      <a href="{{ .URL }}" target="_blank" rel="noopener" title="{{ .Name }}">
        {{ if eq .Params.icon "github" }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/></svg>
        {{ else if eq .Params.icon "mail" }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg>
        {{ else if eq .Params.icon "discord" }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028c.462-.63.874-1.295 1.226-1.994a.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03z"/></svg>
        {{ else if eq .Params.icon "rss" }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
        {{ else }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
        {{ end }}
      </a>
      {{ end }}
    </div>
    <div class="site-footer__copy">
      &copy; {{ with .Site.Params.footer.since }}{{ . }} - {{ end }}{{ now.Format "2006" }} {{ .Site.Title }}
    </div>
    <div class="site-footer__stats">
      <span>{{ len $pages }} posts</span>
      <span>{{- if ge $wc 1000 -}}
        {{- $tenths := div (add $wc 50) 100 -}}
        {{- $whole := div $tenths 10 -}}
        {{- $decimal := sub $tenths (mul $whole 10) -}}
        {{ $whole }}.{{ $decimal }}k words
      {{- else -}}
        {{ $wc }} words
      {{- end -}}</span>
    </div>
    <div class="site-footer__powered">
      Powered by <a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a>
    </div>
  </div>
</footer>
