<section class="hero">
  <div class="hero__row">
    {{ with .Site.Params.avatar }}
    {{ $avSrc := . }}
    {{ $av := resources.Get (printf "s/%s" $avSrc) }}
    {{ if not $av }}{{ $av = resources.Get $avSrc }}{{ end }}
    {{ if $av }}
      {{ $avp := $av.Resize "264x webp q90" }}
      <img class="hero__avatar" src="{{ $avp.RelPermalink }}" alt="{{ $.Site.Params.author.name | default $.Site.Title }}" width="88" height="88" fetchpriority="high" decoding="async">
    {{ else }}
      <img class="hero__avatar" src="{{ $avSrc | relURL }}" alt="{{ $.Site.Params.author.name | default $.Site.Title }}" width="88" height="88" fetchpriority="high" decoding="async">
    {{ end }}
    {{ end }}
    <div class="hero__body">
      <h1 class="hero__title">{{ .Site.Params.author.name | default .Site.Title }}</h1>
      {{ with .Site.Params.status }}
      <p class="hero__bio">{{ . }}</p>
      {{ end }}
      <div class="hero__typewriter">
        <span id="typewriter-text"></span><span class="hero__cursor">|</span>
      </div>
      {{ with .Site.Menus.social }}
      <div class="hero__social">
        {{ range . }}
        <a href="{{ .URL }}" title="{{ .Name }}"{{ if or (hasPrefix .URL "https://") (hasPrefix .URL "http://") }} target="_blank" rel="noopener"{{ end }}>
          {{ with .Params.icon }}{{ partial "icon.html" . }}{{ end }}
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
