<section class="hero">
  <div class="hero__row">
    {{ with .Site.Params.avatar }}
    <img class="hero__avatar" src="{{ . | relURL }}" alt="{{ $.Site.Params.author.name | default $.Site.Title }}" width="88" height="88">
    {{ end }}
    <div class="hero__body">
      <h1 class="hero__title">{{ .Site.Params.author.name | default .Site.Title }}</h1>
      {{ with .Site.Params.status }}
      <p class="hero__bio">{{ . }}</p>
      {{ end }}
      <div class="hero__typewriter">
        <span id="typewriter-text"></span><span class="hero__cursor">|</span>
      </div>
      {{ with .Site.Menus.social }}
      <div class="hero__social">
        {{ range . }}
        <a href="{{ .URL }}" title="{{ .Name }}"{{ if or (hasPrefix .URL "https://") (hasPrefix .URL "http://") }} target="_blank" rel="noopener"{{ end }}>
          {{ with .Params.icon }}{{ partial "icon.html" . }}{{ end }}
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
