<li class="post-list__item">
  <a href="{{ .page.RelPermalink }}">
    <div class="post-list__meta">
      <time class="post-list__date" datetime="{{ .page.Date.Format "2006-01-02" }}">{{ .page.Date.Format "Jan 02, 2006" }}</time>
      {{ with .page.GetTerms "categories" }}
      <div class="post-list__tags">
        {{ range . }}<span class="post-list__tag">{{ .LinkTitle }}</span>{{ end }}
      </div>
      {{ end }}
    </div>
    <h2 class="post-list__title">{{ .page.Title }}</h2>
    {{ if .showDesc }}
      {{ with .page.Description }}
      <p class="post-list__desc">{{ . }}</p>
      {{ end }}
    {{ end }}
  </a>
</li>
