{{- if and site.Params.reward.enable (ne .Params.reward false) -}}
{{- with site.Params.reward.wechat -}}
{{- $path := . -}}
{{- $img := partial "get-static-image.html" $path -}}
{{- $w := 300 -}}
{{- $h := 215 -}}
{{- $src := $path | relURL -}}
{{- with $img -}}
  {{- $out := . -}}
  {{- if gt .Width 600 -}}
    {{- $out = partial "process-image.html" (dict "image" . "op" "resize" "spec" "600x" "q" 95) -}}
  {{- end -}}
  {{- $src = $out.RelPermalink -}}
  {{- if and $out.Width $out.Height -}}
    {{- $h = int (math.Round (div (mul (float $out.Height) (float $w)) (float $out.Width))) -}}
  {{- end -}}
{{- end -}}
<section class="post-reward" data-pagefind-ignore>
  <img src="{{ $src }}" width="{{ $w }}" height="{{ $h }}" alt="微信赞赏码" decoding="async" loading="lazy">
</section>
{{- end -}}
{{- end -}}
