{{- if and site.Params.reward.enable (ne .Params.reward false) -}}
{{- with site.Params.reward.wechat -}}
{{- $path := . -}}
{{- $img := partial "get-static-image.html" $path -}}
{{- $w := 300 -}}
{{- $h := 215 -}}
{{- $src := $path | relURL -}}
{{- with $img -}}
  {{- if and .Width .Height -}}
    {{- $h = int (math.Round (div (mul (float .Height) (float $w)) (float .Width))) -}}
  {{- end -}}
{{- end -}}
<section class="post-reward" data-pagefind-ignore>
  <img src="{{ $src }}" width="{{ $w }}" height="{{ $h }}" alt="微信赞赏码" decoding="async" loading="lazy">
</section>
{{- end -}}
{{- end -}}
